<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styling/index.css') }}"
        />
        <title>PanoVis</title>
    </head>
    <body>
        <div class="p-3 border bg-secondary text-light">
            <div class="d-flex">
                <div class="my-auto fw-bold h6 text-start me-3">
                    Peak data set:
                </div>

                <div
                    class="my-auto h6 d-grid d-sm-flex gap-3"
                    id="selected-gpx"
                >
                    <div class="my-auto">{{ gpx }}</div>
                    <button
                        id="change-gpx"
                        class="btn btn-outline-light btn-sm px-4"
                        onclick="changeGPX();"
                    >
                        Change
                    </button>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-10 col-xl-8 mx-auto align-middle p-5 pt-5">
            <h3 class="fw-bold text-start">View panoramas</h3>
            <div class="border bg-light">
                <div class="uploaded-panoramas-wrapper">
                    <div class="uploaded-panoramas">
                        {% for pano in ims %}
                        <a href='javascript:removeImage("{{ pano[0] }}")'>
                            <div
                                class="uploaded-panoramas-child d-flex justify-content-center flex-nowrap"
                            >
                                <div class="hover-effect">
                                    <img
                                        class="img-fluid"
                                        src="{{ pano[1] }}"
                                        alt="{{ pano[0] }}"
                                    />
                                    <div class="hover-text"></div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-xl-6 col-sm-6 align-items-center fs-5">
                        Number of uploaded panoramas: {{ ims|length }}
                    </div>
                    <div
                        class="col-xl-4 col-sm-6 col-xs-12 form-check d-flex align-items-center d-flex justify-content-sm-end justify-content-xs-start"
                    >
                        <label
                            class="form-check-label fs-5"
                            for="flexCheckDefault"
                        >
                            Create Interactive Map:
                        </label>
                        <input
                            id="interactive-map-checkbox"
                            class="form-check-input mx-2"
                            type="checkbox"
                            value="{{ interactive }}"
                            id="flexCheckDefault"
                        />
                    </div>
                    <div class="col-xl-2 col-sm-12 text-xl-end text-sm-start">
                        <button
                            id="uploaded-panoramas-button"
                            type="submit"
                            class="btn btn-primary btn-md"
                            onclick="navigate();"
                        >
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-xs-12 col-md-10 col-xl-8 mx-auto align-middle p-5 pt-5">
            <h3 class="fw-bold text-start">Hikes</h3>
            <div class="border bg-light">
                <div class="uploaded-hikes-wrapper">
                    <div id="hikes" class="uploaded-hikes"></div>
                </div>
                <div class="row m-3">
                    <div class="col-xl-6 col-md-12 align-items-center fs-5">
                        Number of uploaded hikes: {{ hikes|length }}
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col-xs-12 col-md-10 col-xl-8 mx-auto align-middle p-5 pt-4">
            <div class="row">
                <div class="col-xs-12 col-xl-12 mx-auto align-middle pt-4">
                    <h4 class="fw-bold text-start">Upload new panorama</h4>
                    <div class="p-3 border bg-light">
                        <div
                            class="d-grid py-5 d-sm-flex justify-content-sm-center"
                        >
                            <form
                                action="/upload"
                                method="POST"
                                enctype="multipart/form-data"
                            >
                                <div class="input-group">
                                    <input
                                        class="form-control"
                                        type="file"
                                        name="file"
                                        accept="image/jpeg"
                                    />
                                    <span class="input-group-btn">
                                        <button
                                            type="submit"
                                            class="btn btn-primary btn-md px-4 gap-3 mx-1"
                                        >
                                            Select
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-xl-6 mx-auto align-middle pt-4">
                    <h4 class="fw-bold text-start">Upload new hike</h4>
                    <div class="p-3 border bg-light">
                        <div
                            class="d-grid py-5 d-sm-flex justify-content-sm-center"
                        >
                            <form
                                action="/uploadhike"
                                method="POST"
                                enctype="multipart/form-data"
                            >
                                <div class="input-group">
                                    <input
                                        class="form-control"
                                        type="file"
                                        name="file"
                                        accept=".gpx"
                                    />
                                    <span class="input-group-btn">
                                        <button
                                            type="submit"
                                            class="btn btn-primary btn-md px-4 gap-3 mx-1"
                                        >
                                            Select
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>

        <script>
            function navigate() {
                const interactive = document.getElementById(
                    'interactive-map-checkbox'
                ).checked
                redir_url = 'mountains'
                task = 'findmtns?interactive=' + interactive
                title = 'Locating Visible Peaks'
                text = 'Locating visible peaks in data set...'
                window.location.href = `/loading?redirect_url=${redir_url}&task=${task}&title=${title}&text=${text}`
            }

            if ('{{ folium }}' == 'True') {
                console.log('Folium is True')
                document.getElementById(
                    'interactive-map-checkbox'
                ).checked = true
            } else {
                document.getElementById(
                    'interactive-map-checkbox'
                ).checked = false
            }

            if ('{{ gpx }}' == 'None selected') {
                document
                    .getElementById('uploaded-panoramas-button')
                    .setAttribute('disabled', 'true')
            }

            function removeImage(imageId) {
                window.location.href = `/rmvimg?image_id=${imageId}`
            }

            function removeHike(hikeId) {
                window.location.href = `/rmvhike?hike_id=${hikeId}`
            }

            function changeGPX() {
                let gpx = document.getElementById('selected-gpx')
                let form = document.createElement('form')
                form.setAttribute('action', '/uploadmtns')
                form.setAttribute('method', 'POST')
                form.setAttribute('enctype', 'multipart/form-data')
                let input = document.createElement('input')
                input.setAttribute('id', 'gpx-file-input')
                input.setAttribute('type', 'file')
                input.setAttribute('name', 'file')
                input.setAttribute('accept', '.gpx')
                input.setAttribute('required', 'required')
                input.setAttribute(
                    'class',
                    'h5 small my-auto me-3 form-control form-control-sm'
                )
                input.setAttribute('onchange', 'form.submit()')
                let button = document.createElement('button')
                button.setAttribute('type', 'submit')
                button.setAttribute(
                    'class',
                    'btn btn-outline-light btn-sm px-4'
                )
                button.innerHTML = 'Select'

                let inputGroup = document.createElement('div')
                inputGroup.setAttribute('class', 'input-group')
                let inputGroupBtn = document.createElement('span')
                inputGroupBtn.setAttribute('class', 'input-group-btn')
                inputGroupBtn.appendChild(button)
                inputGroup.appendChild(input)
                inputGroup.appendChild(inputGroupBtn)
                form.appendChild(inputGroup)

                gpx.parentNode.replaceChild(form, gpx)
                document.getElementById('gpx-file-input').click()
            }

            if ('{{ ims|length }}' == 0) {
                console.log('No panoramas uploaded')
                document.getElementById(
                    'uploaded-panoramas-button'
                ).disabled = true
            }

            const hikes = JSON.parse('{{ hikes | tojson | safe }}')

            let hikeWrapper = document.getElementById('hikes')

            for (let i = 0; i < hikes.length; i++) {
                let hike = hikes[i]
                let hikeLink = document.createElement('a')
                hikeLink.setAttribute(
                    'href',
                    'javascript:removeHike(' + '"' + hike + '"' + ')'
                )
                hikeLink.setAttribute(
                    'class',
                    'uploaded-hikes-child d-flex justify-content-center flex-nowrap'
                )
                let hikeFile = document.createElement('div')
                hikeFile.setAttribute('class', 'hike-file text-center p-2')
                hikeFile.innerHTML = hike.slice(0, hike.length - 9) + '.gpx'
                hikeLink.appendChild(hikeFile)
                hikeWrapper.appendChild(hikeLink)
            }
        </script>
    </body>
</html>
