<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styling/index.css') }}"
        />

        <script>
            function navigate() {
                window.location.href = '{{ redirect_url }}' // redirect when done!
            }
            fetch('/{{ task }}').then(navigate) // load the slow url then navigate
        </script>

        <title>PanoVis - {{ title }}</title>
    </head>
    <body>
        <div class="px-4 py-4 my-4 text-center">
            <h3 class="fw-bold text-start">{{ text }}</h3>
            <div class="p-3 border bg-light row-12">
                <div class="progress">
                    <div
                        class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 0"
                        id="progress-bar"
                    ></div>
                </div>
            </div>
        </div>
    </body>
    <script>
        function update() {
            var element = document.getElementById('progress-bar')
            let progress = 0
            var identity = setInterval(scene, 100)
            function scene() {
                if (progress >= 100) {
                    clearInterval(identity)
                } else {
                    progress++
                    element.ariaValueNow = progress
                    element.style.width = progress + '%'
                }
            }
        }
        update()
    </script>
</html>
