<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/pannellum/2.5.6/pannellum.js"
            integrity="sha512-EmZuy6vd0ns9wP+3l1hETKq/vNGELFRuLfazPnKKBbDpgZL0sZ7qyao5KgVbGJKOWlAFPNn6G9naB/8WnKN43Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styling/index.css') }}"
        />
        <script src="{{ url_for('static', filename='scripts/tools.js') }}"></script>
        <script>
            function navigate() {
                window.location.href = '/'
            }
        </script>
        <script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css"
        />

        <title>E2 - View Panoramas</title>
    </head>
    <body>
        <button
            id="nav-home"
            class="btn btn-secondary btn-md my-2 mx-4"
            onclick="navigate();"
        >
            Home
        </button>
        <div class="px-4 my-4 text-center">
            <div class="row align-items-end">
                <h3 class="col-7 fw-bold text-start">Mountain Overlay</h3>
                <h6 class="col-5 fw-normal text-end">
                    Dataset used: {{ gpx }}
                </h6>
            </div>
            <div class="p-3 border bg-light">
                <div class="d-grid d-sm-flex justify-content-sm-center">
                    <div id="mountain-overlay">
                        <div class="controls">
                            <div id="left">
                                <div class="ctrl" id="zoom-in">&plus;</div>
                                <div class="ctrl" id="zoom-out">&minus;</div>
                                <div class="ctrl" id="fullscreen">&#x2922;</div>
                            </div>
                            <div id="right">
                                <div class="ctrl" id="show-tooltips">
                                    &#x2139;
                                </div>
                                <div class="ctrl" id="pan-left">&#8678;</div>
                                <div class="ctrl" id="pan-right">&#8680;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="interactive-map" class="px-4 py-4 my-4 text-center">
            <h3 class="fw-bold text-start">Interactive Map</h3>
            <div class="p-3 border bg-light">
                <div class="d-grid d-sm-flex justify-content-sm-center">
                    <div id="folium-container">
                        <object id="folium-map" data="{{folium_path}}"></object>
                    </div>
                </div>
            </div>
        </div>

        <div class="px-4 py-2 my-4 text-center">
            <h3 class="fw-bold text-start">Render/panorama comparison</h3>

            <div class="border bg-light px-5">
                <div
                    id="compare-wrapper"
                    class="py-2 d-grid d-sm-flex justify-content-sm-center compare w-lg-75 w-md-100"
                >
                    <div id="juxtapose"></div>
                </div>
            </div>
        </div>

        <script>
            const s = JSON.parse('{{ scenes | tojson | safe }}')

            const sceneIds = Object.keys(s)
            let sceneIndex = sceneIds.indexOf('{{ defaultScene }}')

            if (sceneIds.length == 1) {
                document.getElementById('right').style.display = 'none'
            }

            let interactive = true

            if ('{{ interactive }}' == 'False') {
                document.getElementById('interactive-map').style.display =
                    'none'
                interactive = false
            }

            function mountainHotspotTooltip(hotSpotDiv, args) {
                hotSpotDiv.classList.add('mountain-tooltip')
                var span = document.createElement('span')
                span.innerHTML = args
                hotSpotDiv.appendChild(span)
                span.style.width = span.scrollWidth - 20 + 'px'
                span.style.marginLeft =
                    -(span.scrollWidth - hotSpotDiv.offsetWidth) / 2 -
                    12.5 +
                    'px'
                span.style.marginTop = -span.scrollHeight + 4 + 'px'
            }

            function imageHotspotTooltip(hotSpotDiv, args) {
                hotSpotDiv.classList.add('panorama-image-tooltip')
                var span = document.createElement('span')
                span.innerHTML = args
                hotSpotDiv.appendChild(span)
                span.style.width = span.scrollWidth - 20 + 'px'
                span.style.marginLeft =
                    -(span.scrollWidth - hotSpotDiv.offsetWidth) / 2 - 32 + 'px'
                span.style.marginTop = -span.scrollHeight + 4 + 'px'
            }

            const gen = (scene) => {
                return Object.fromEntries(
                    Object.entries(scene).map(([key, value]) => {
                        return [
                            key,
                            {
                                panorama: value.warped_panorama_path,
                                yaw: value.view_direction,
                                title: key.slice(0, key.length - 9),
                                hotSpots: [
                                    ...Object.entries(
                                        value.hotspots.images
                                    ).map(([name, image]) => {
                                        return {
                                            yaw: image.yaw,
                                            pitch: image.pitch,
                                            type: 'scene',
                                            sceneId: name,
                                            cssClass:
                                                'custom-hotspot scene-hotspot',
                                            createTooltipArgs:
                                                image.imageTooltip,
                                            createTooltipFunc:
                                                imageHotspotTooltip,
                                        }
                                    }),
                                    ...Object.entries(
                                        value.hotspots.mountains
                                    ).map(([name, mountain]) => {
                                        return {
                                            yaw: parseFloat(mountain.yaw),
                                            pitch: mountain.pitch,
                                            cssClass:
                                                'custom-hotspot mountain-hotspot',
                                            createTooltipArgs: name,
                                            createTooltipFunc:
                                                mountainHotspotTooltip,
                                            URL: mountain.url,
                                        }
                                    }),
                                ],
                            },
                        ]
                    })
                )
            }

            const gpx = '{{ gpx }}'

            function loadFolium(sceneId) {
                if (!interactive) {
                    return
                }
                const updatedFolium = `src/static/images/${sceneId}/${sceneId}-${gpx}.html`
                let object = document.getElementById('folium-map')
                object.setAttribute('data', updatedFolium)
                let clone = object.cloneNode(true)
                let parent = object.parentNode
                parent.removeChild(object)
                parent.appendChild(clone)
                sceneIndex = sceneIds.indexOf(sceneId)
            }

            function loadJuxtapose(sceneId) {
                document.getElementById('juxtapose').innerHTML = ''
                slider = new juxtapose.JXSlider(
                    '#juxtapose',
                    [
                        {
                            src: s[sceneId].cropped_overlay_path,
                            label: 'Panorama',
                        },
                        {
                            src: s[sceneId].cropped_render_path,
                            label: 'Render',
                        },
                    ],
                    {
                        animate: true,
                        showLabels: true,
                        startingPosition: '80%',
                        makeResponsive: true,
                    }
                )
            }

            function switchScene() {
                console.log('hei')
            }

            loadFolium(sceneIds[sceneIndex])
            loadJuxtapose(sceneIds[sceneIndex])

            viewer = pannellum.viewer('mountain-overlay', {
                default: {
                    firstScene: '{{ defaultScene }}',
                    sceneFadeDuration: 750,
                    compass: true,
                    doubleClickZoom: false,
                    mouseZoom: false,
                    keyboardZoom: false,
                    hfov: 180,
                    vaov: 125,
                    type: 'equirectangular',
                    autoLoad: true,
                    showControls: false,
                    // backgroundColor: [0.75, 0.88, 0.93],
                },
                scenes: gen(s),
            })

            function renderPolyline(sceneId) {
                const polyline = s[sceneId].polyline
                const polyline_path = s[sceneId].polyline_path
                const polyline_color = s[sceneId].polyline_color
                const polyline_width = s[sceneId].polyline_width

                if (polyline) {
                    const polyline_layer = new L.Polyline(polyline_path, {
                        color: polyline_color,
                        weight: polyline_width,
                    })
                    polyline_layer.addTo(viewer.scene.getPanorama())
                }
            }

            viewer.on('scenechange', function (event) {
                loadJuxtapose(event)
                loadFolium(event)
                console.log('Loaded new scene: ' + event)
            })

            document
                .getElementById('pan-left')
                .addEventListener('click', function (e) {
                    sceneIndex =
                        (sceneIndex - 1 + sceneIds.length) % sceneIds.length
                    viewer.loadScene(sceneIds[sceneIndex])
                })
            document
                .getElementById('pan-right')
                .addEventListener('click', function (e) {
                    sceneIndex = (sceneIndex + 1) % sceneIds.length
                    viewer.loadScene(sceneIds[sceneIndex])
                })
            document
                .getElementById('zoom-in')
                .addEventListener('click', function (e) {
                    viewer.setHfov(viewer.getHfov() - 10, (animated = false))
                })
            document
                .getElementById('zoom-out')
                .addEventListener('click', function (e) {
                    viewer.setHfov(viewer.getHfov() + 10, (animated = false))
                })
            document
                .getElementById('fullscreen')
                .addEventListener('click', function (e) {
                    viewer.toggleFullscreen()
                })

            document
                .getElementsByClassName('pnlm-compass')[0]
                .addEventListener('click', function (e) {
                    console.log('clicked compass')
                    viewer.setYaw(
                        viewer.getYaw() != 0
                            ? 0
                            : parseFloat(s[sceneIds[sceneIndex]].view_direction)
                    )
                })

            let showAllTooltips = false
            document
                .getElementById('show-tooltips')
                .addEventListener('click', function (e) {
                    let ctrl = document.getElementById('show-tooltips')
                    if (showAllTooltips) {
                        ctrl.style.background = null
                        showAllTooltips = false
                    } else {
                        ctrl.style.background = 'rgba(200, 200, 200, 1.0)'
                        showAllTooltips = true
                    }

                    let hotspots = document.querySelectorAll(
                        'div.mountain-tooltip span'
                    )
                    for (let i = 0; i < hotspots.length; i++) {
                        let vis = hotspots[i].style.visibility
                        if (vis == 'visible') {
                            hotspots[i].style.removeProperty('visibility')
                        } else {
                            hotspots[i].style.visibility = 'visible'
                        }
                    }
                })
        </script>
    </body>
</html>
