<!DOCTYPE html>
<html lang="no">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/pannellum/2.5.6/pannellum.js"
            integrity="sha512-EmZuy6vd0ns9wP+3l1hETKq/vNGELFRuLfazPnKKBbDpgZL0sZ7qyao5KgVbGJKOWlAFPNn6G9naB/8WnKN43Q=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styling/index.css') }}"
        />
        <script src="{{ url_for('static', filename='scripts/tools.js') }}"></script>

        <title>E2 - View Mountains</title>
    </head>
    <body>
        <div class="px-4 py-4 my-4 text-center">
            <h3 class="fw-bold text-start">Mountain Overlay</h3>
            <div class="p-3 border bg-light">
                <div class="d-grid d-sm-flex justify-content-sm-center">
                    <div id="mountain-overlay"></div>
                </div>
            </div>
        </div>
        <div class="px-4 py-4 my-4 text-center">
            <h3 class="fw-bold text-start">Interactive Map</h3>
            <div class="p-3 border bg-light">
                <div class="d-grid d-sm-flex justify-content-sm-center">
                    <div id="folium-container">
            <object
                id="folium-map"
                data="{{folium_path}}"
            ></object>
                </div>
            </div>
        </div>

        <script>
            const s = JSON.parse('{{ scenes | tojson | safe }}')

            function mountainHotspotTooltip(hotSpotDiv, args) {
                hotSpotDiv.classList.add('mountain-tooltip')
                var span = document.createElement('span')
                span.innerHTML = args
                hotSpotDiv.appendChild(span)
                span.style.width = span.scrollWidth - 20 + 'px'
                span.style.marginLeft =
                    -(span.scrollWidth - hotSpotDiv.offsetWidth) / 2 - 12.5 + 'px'
                span.style.marginTop = -span.scrollHeight + 4 + 'px'
            }

            function imageHotspotTooltip(hotSpotDiv, args) {
                hotSpotDiv.classList.add('panorama-image-tooltip')
                var span = document.createElement('span')
                span.innerHTML = args
                hotSpotDiv.appendChild(span)
                span.style.width = span.scrollWidth - 20 + 'px'
                span.style.marginLeft =
                    -(span.scrollWidth - hotSpotDiv.offsetWidth) / 2 - 20 + 'px'
                span.style.marginTop = -span.scrollHeight + 4 + 'px'
            }



            const gen = (scene) => {
                return Object.fromEntries(Object.entries(scene).map(([key, value]) => {
                    return [key, {
                        panorama: value.render_path,
                        yaw: value.view_direction,
                        hotSpots: [
                            ...Object.entries(value.hotspots.images).map(([name, image]) => {
                                return {
                                    yaw: image.yaw,
                                    pitch: image.pitch,
                                    type: 'scene',
                                    sceneId: name,
                                    cssClass: 'custom-hotspot scene-hotspot',
                                    createTooltipArgs: image.imageTooltip,
                                    createTooltipFunc: imageHotspotTooltip,
                                }
                            }),
                            ...Object.entries(value.hotspots.mountains).map(([name, mountain]) => {
                                return {
                                    yaw: parseFloat(mountain.yaw),
                                    pitch: mountain.pitch,
                                    cssClass: 'custom-hotspot mountain-hotspot',
                                    createTooltipArgs: name,
                                    createTooltipFunc: mountainHotspotTooltip,
                                    URL: mountain.url,
                                }
                            }),
                        ],
                    }]
                }))
            }

            console.log(gen(s))

            const viewDirection = parseFloat('{{ yaw }}')

            const fp = '{{ pano_filename}}'
            const fol = `{{ url_for('static', filename='foliums/${fp}.html') }}`
            function addFolium() {
                $('#folium-map').load(
                    fol
                )
            };

            

            viewer = pannellum.viewer('mountain-overlay', {
                "default": {
                    firstScene: '{{ defaultScene }}', // change this
                    sceneFadeDuration: 1000,
                    compass: true,
                    doubleClickZoom: false,
                    mouseZoom: false,
                    keyboardZoom: false,
                    hfov: 180,
                    vaov: 120,
                    type: 'equirectangular',
                    autoLoad: true,
                },
                "scenes": gen(s)
            })
        </script>
    </body>
</html>
